POSTGRES_USER=n8n
POSTGRES_PASSWORD=seu_password_aqui
POSTGRES_DB=n8n

# imagens e versões
N8N_IMAGE=n8nio/n8n:2.27.3
POSTGRES_IMAGE=postgres:18.4
CLOUDFLARED_IMAGE=cloudflare/cloudflared:2026.6.1

N8N_HOST=n8n.seudominio.com.br
N8N_PORT=5678
N8N_INTERNAL_URL=http://n8n:5678
WEBHOOK_URL=https://n8n.seudominio.com.br
DB_HOST=postgres
DB_PORT=5432
CLOUDFLARE_TUNNEL_TOKEN=seu_token_docker_aqui
